<div class="offset-3 col-6">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Your email address</label>
            <input type="email" class="form-control col-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Your Password</label>
            <input type="password" class="form-control col-6" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="">
            <button type="submit" class="btn btn-warning col-6">Sign In or Connect</button>
        </div>
    </form>
</div>