<div class="container-fluid player mb-5">
    <app-music-progress (changePosition)="changePosition($event)" [position]="position"></app-music-progress>
    <div class="row">
        <div class="col-2"> </div>
        <div class="col-7">
            <div class="row">
                <div class="col">
                    {{track.title}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{elapsed | formattime}} / {{duration | formattime}}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <fa-icon [icon]="faStepBackward" (click)="previous()"></fa-icon>
                </div>
                <div class="col">
                    <i *ngIf="paused == false" class="fa fa-play" (click)="play()"></i>
                    <i *ngIf="paused == true" class="fa fa-pause" (click)="pause()"></i>
                </div>
                <div class="col">
                    <i class="fa fa-step-forward" (click)="next()"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-volume-up"></i>
                </div>
                <div class="col">
                    <div #volumeRef class="progress-volume" (click)="changeVolume($event)">
                        <div class="progress-volume-dynamic" [style.width]="volumeWidth | pourcentage"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>