<div class="container-fluid player mb-5">
    <app-music-progress (changePosition)="changePosition($event)" [position]="position"></app-music-progress>
    <div class="row">
        <div class="col-2"><img src="./assets/tracks/PixiesDoolittle.jpg" alt="couverture"> </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    {{track.titleTrack}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{elapsed | formattime}} / {{duration | formattime}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <fa-icon [icon]="faStepBackward" (click)="previous()"></fa-icon>
                </div>
                <div class="col">
                    <fa-icon *ngIf="paused == false" [icon]="faPlay" (click)="play()"></fa-icon>
                    <fa-icon *ngIf="paused == true" [icon]="faPause" (click)="pause()"></fa-icon>
                </div>
                <div class="col">
                    <fa-icon [icon]="faStepForward" (click)="next()"></fa-icon>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <fa-icon [icon]="faVolumeUp"></fa-icon>
                </div>
                <div class="col">
                    <div #volumeRef class="progress-volume" (click)="changeVolume($event)">
                        <div class="progress-volume-dynamic" [style.width]="volumeWidth | pourcentage"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>