<div class="container text-white">
    <div class="row pt-1">
        <div class="offset-1 col-1">
            <fa-icon [icon]="faAngleLeft"> </fa-icon>
        </div>
        <div class="col-1">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
    </div>
    <div class="row py-4">
        <div class="col m-0">
            <div class="iconUser">
               <fa-icon [icon]="faUserCircle"></fa-icon>
            </div>
        </div>
        <div class="col-7">
            <div class="row pt-3">
                <h3>pseudo</h3>
            </div>
            <div class="row">
                <span *ngIf="!linkLog" (click)="logIn()">log in</span>
                <span *ngIf="linkLog" (click)="logOut()">log out</span>
            </div>
        </div>
    </div>
    <div><h3>MAIN</h3></div>
    <div>
        <fa-icon [icon]="faCloud"></fa-icon> stream
    </div>
    <div>
        <fa-icon [icon]="faHeart"></fa-icon> likes
    </div>
    <div>
        <fa-icon [icon]="faBookmark"></fa-icon> playlists
    </div>
</div>