<section class=container-fluide>
    <div class="row" id="photoAlbum">
        <div class="col-4">
            <img src="./assets/tracks/PixiesDoolittle.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-4 ligne" id="Title">
            <span>{{ this.track.titleTrack }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ligne" id="Album">
            <span>{{ this.track.resume }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ligne">
            <div class="row">
                <div class="col-2">
                    <fa-icon [icon]="faHeart" (click)="addLike()"></fa-icon>
                </div>
                <div class='col-2'>
                    <fa-icon [icon]="faBookmark" (click)='addPlaylist ()'></fa-icon>
                </div>
            </div>
        </div>
    </div>
</section>