<section>
<div class="row" id="photoAlbum">
    <div class="col-2">
        <img src="./assets/tracks/PixiesDoolittle.jpg">
    </div>
</div>
<div class="row" >
    <div class="col-2" id="Title" class="ligne">
        <span> Pixies Monkey Gone to Heaven</span>
    </div>
</div>
<div class="row" >
    <div class="col-2" id="Album" class="ligne" >
        <span>Titre de l'album Doolittle des Pixies</span>
    </div>
</div>
<div class="row" >
    <div class="col-2"class="ligne"  >


    </div>
</div>
</section>
